@import './App.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1.title, h2.counter,
.user-counter-name {
  text-align: center;
}

div.increment-cluster,
.input-counter-name,
.user-increment,
button.counter-button {
  text-align: center;
  display: block;
  margin: 10px auto;
}
